body {
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.country {
	width: 300px;
	padding: 10px 5px 10px 5px;
	font-size: 20px;
	/* border-radius: 3px; */
	border-color: #fff;
}

.list {
	background-color: #fff;
	width: 313px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #000;
	min-height: auto;
	max-height: 250px;
	overflow: auto;
	display: none;
}

.item {
	padding: 7px;
	font-size: 18px;
	cursor: pointer;
}
.item:hover {
	background-color:antiquewhite;
}

